In [ ]:
import plotly.plotly as py
from plotly.graph_objs import *
import pandas as pd
import requests
from pyspark.sql import *
from pyspark.sql.types import StringType
requests.packages.urllib3.disable_warnings()

tbName =["CH37H" ,"LOCMAP_S"]
url = "jdbc:h2:tcp://localhost/~/ssmi9095ct"

df1 =sqlContext.load(source="jdbc",url=url, dbtable = tbName[0]) #dbtable is variable
df1.registerTempTable(tbName[0])
df2 =sqlContext.load(source="jdbc",url=url, dbtable = tbName[1]) #dbtable is variable
df2.registerTempTable(tbName[1])

In [ ]:
#register helper functions for SQL
sqlContext.registerFunction("MONTH", lambda x: x[5:7], StringType())#grab Month
sqlContext.registerFunction("YEAR", lambda x: x[0:4], StringType())
sqlContext.registerFunction("DAY", lambda x: x[8:10], StringType())

rdf = sqlContext.sql("SELECT * FROM CH37H t1, LOCMAP_S t2 WHERE t1.DATE BETWEEN '1990-09-09' AND '1990-10-10' AND t1.BT>200 AND t1.BT<230 AND MONTH(t1.DATE) = '09'")